$main-color: #2f4f4f;
$second-color: #333;
$third-color: #f1f1f1;


$deletion-color-first: #d32f2f;
$deletion-color-second: #c62828;
$deletion-color-third: #bb3f3f;

$save-color-first: #8bc34a;
$save-color-second: #7cb342;
$save-color-third: #689f38;

$font: sans-serif;
$font_size_one: 24px;
$font_size_two: 16px;
$font_size_two: 14px;