@import 'variables';

// Resetowanie stylów
body {
  margin: 0;
  font-family: $font;
}

// Nawigacja
nav {
  display: flex;
  justify-content: space-between;
  background-color: $third-color;
  padding: 10px 20px;

  .nav-left,
  .nav-right,
  .title {
    display: flex;
    align-items: center;
  }

  .nav-left {
    margin-right: -200px;

    a {
      text-decoration: none;
      color: $second-color;
      margin-right: 15px;
    }
  }

  .nav-right {
    a {
      text-decoration: none;
      color: $second-color;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Obraz
img {
  width: 100%;
  height: 300px;
  display: block;
}

// Tytuł
.title p {
  font-family: $font;
  font-size: $font-size-one;
  font-weight: bold;
  color: $main-color;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: center;
  padding: 10px;
}
