@import 'variables';
.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border-bottom: 2px solid #ccc;
    background-color: $third-color;
    border-radius: 8px;
}

.tabs li {
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 12px;
    background-color: $third-color;
    font-size: $font_size_two;
    font-weight: bold;
}

.tabs li:hover {
    background-color: #e9e9e9;
}

.tabs li.active-tab {
    color: $main-color;
}

.active-tab {
    font-weight: bold;
}

.tab-content > div {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-content > div > div {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.tab-content > div > div h3 {
    font-size: $font_size_one;
    color: $save-color-second;
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif;
}

.tab-content > div > div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

.tab-content > div > div ul li {
    font-size: $font_size_two;
    margin-bottom: 4px;
    font-family: 'Verdana', sans-serif;
}
