{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
  Forgot Password
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% sass_src 'scss/loginform.scss' %}">
{% endblock %}

{% block content %}

    <div class="form-outer-container">
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <button class="formbutton" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

