{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
  Login
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% sass_src 'scss/loginform.scss' %}">
{% endblock %}

{% block content %}
<div class="form-outer-container">
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="formbutton" type="submit">Login</button>
        </form>
        <a href="{% url 'forgot_password' %}">Forgot Password?</a>
    </div>
</div>
{% endblock %}
