{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}
  Reset Password
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% sass_src 'scss/loginform.scss' %}">
  <script src="{% static 'js/register.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="form-outer-container">
        <div class="form">
            <form method="post" id="resetPasswordForm">
                {% csrf_token %}
                {% for field in form %}
                    <div class = "inside-form">
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button class="formbutton" type="submit">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}
